body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #0e0e10;
  color: white;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

#strengthText {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
